
html,body{
  width: 100%;
  height: 100%;
}

/* 重置ul */
ul{
  list-style: none;
  margin:0;
  padding:0;
}

img{
  width: 100%;
  display: block;
}

.lt_container{
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
  margin:0 auto;
  background-color: #fff;
  /* background-color: rgb(205, 111, 248); */
  padding-top:45px;
  padding-bottom: 55px;
  position: relative;
}

/* 头部 */
.lt_header{
  height: 45px;
  width: 100%;
  background-color: #006699;
  padding-left:45px;
  padding-right: 45px;
  position: absolute;
  left:0;
  top:0;
}

.lt_header .icon_left,
.lt_header .icon_right{
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color:#fff;
  position: absolute;
  top:0;  
}

.lt_header .icon_left {
  left:0;
}

.lt_header .icon_right {
  right:0;
}

.lt_header h3{
  height: 45px;
  line-height: 45px;
  font-weight: normal;
  color:#fff;
  font-size: 20px;
  text-align: center;
  /* 覆盖h3的默认margin值 */
  margin:0;
}


/* 主体模块 */
.lt_main{
  width: 100%;
  height: 100%;
  position: relative;
}


/* footer模块 */
.lt_footer{
  width: 100%;
  height: 55px;
  background-color: #006699;
  position:absolute;
  left: 0;
  bottom: 0;
}

.lt_footer li{
  float: left;
  width: 25%;
}

.lt_footer li a {
  display: block;
  color:#fff;
  text-align: center;
  margin-top: 8px;
}

.lt_footer li.now a,
.lt_footer li.now p{
  color:orange;
}

.lt_footer li p{
  color:#fff;
  font-size: 14px;
 /*覆盖默认的margin值 */
  margin:0;
}



